
table {border-collapse: collapse;}
th, td {border: 1px solid lightsalmon;padding: 3px}
.etiket {border:1px solid darkblue;padding: 5px}
.ust-margin {margin-top: 10px}
.baslik {color:white; background-color: firebrick; padding: 2px}
.etiket p{margin-top: 5px; margin-bottom: 3px}
#span-div {margin-top: 10px}
#span-div span {border:1px solid blue;padding: 2px;}
#span-div div {border:1px solid blue;padding: 2px; margin-top: 10px}
        
nav {background-color:#73C6B6 }

#span-div span:hover {background-color: #F0B27A; cursor: default;}
