.sayi-zyr {text-align: center; }
.bolum-zyr {display: flex; margin-top: 20px}
input[type=button]{padding: 5px;width: 30px}
nav {background-color: purple; color: white; padding: 5px 10px 5px 3px}
.uyari {color: red; font-size: 0.6rem}
.gunluk-lbl {font-size: 0.8rem;}
