<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Sayfası</title>
</head>
<body>
    <h1>Sisteme Giriş</h1>
    <form action="/login" method="post">
        <label for="username">Kullanıcı Adı:</label>
        <input type="text" id="username" name="username" required><br><br>
        
        <label for="password">Parola:</label>
        <input type="password" id="password" name="password" required><br><br>
        
        <input type="submit" value="Giriş Yap">
    </form>
    
</body>
</html>