<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dosya Upload</title>

    <style>
        body { margin:50px}
        .upload-container {border:1px solid #ccc; padding: 20px; border-radius: 8px; width: 300px;}
    </style>
</head>
<body>

    <h2>Dosya Yükle</h2>

    <div class="upload-container">
        <form id="uploadForm" action="#" method="post">
            <label for="ogrNo">Öğrenci No:</label>
            <input type="text" name="ogrenciNo" id="ogrNo" placeholder="Öğrenci no." required>
            <br><br>

            <label for="uploadFile">Ödev Dosyası:</label>
            <input type="file" id="uploadFile" name="dosya" required>
            <br><br>
            <input id="btnSubmit" type="submit" value="Upload">
        </form>
        <div id="uploadStatus"></div>

    </div>

    <script>

        const uploadForm = document.getElementById("uploadForm");
        const ogrNoInput = document.getElementById("ogrNo");
        const fileInput = document.getElementById("uploadFile");
        const btnSubmit = document.getElementById("btnSubmit")
        const uploadStatus = document.getElementById("uploadStatus");

        async function uploadFormFunc(){
            const formData = new FormData(uploadForm)
            btnSubmit.disabled = true;
            uploadStatus.innerHTML = "Dosya yükleniyor..."

            if (fileInput.files.length === 0){
                uploadStatus.style.color = 'red';
                uploadStatus.innerHTML = "Lütfen bir dosya seçin.";
                btnSubmit.disabled = false;
                return;
            }

            const file = fileInput.files[0];
            
            const toBase64 = f => new Promise((res, rej) => {
                const reader = new FileReader();
                reader.readAsDataURL(f);
                reader.onload = () => res(reader.result);
                reader.onerror = (e) => rej(e);
            });

            try {
                const base64File = await toBase64(file);

                const payload = {
                    ogrenciNo : ogrNoInput.value,
                    fileName : file.name,
                    fileData : base64File
                }

                btnSubmit.disabled = true;

                const response = await fetch('/upload4', {
                    method: 'POST',
                    headers: {'Content-Type': 'application/json'},
                    body: JSON.stringify(payload)
                });

                const result = await response.json();

                btnSubmit.disabled = false;
                if (response.ok){
                    uploadStatus.style.color = 'green';
                    uploadStatus.innerHTML = "Dosya başarıyla yüklendi.";
                } else {
                    uploadStatus.style.color = 'red';
                    uploadStatus.innerHTML = "Error:" + data.error;
                }


            } catch(err) {
                btnSubmit.disabled = false;
                uploadStatus.style.color = 'red';
                uploadStatus.innerText = "Dosya yüklenirken bir oluştu."
            }


            
        }

        uploadForm.addEventListener('submit', function(e){
            e.preventDefault();
            console.log("Form submission engellendi. Form data JS ile yüklenecek.")
            uploadFormFunc();

        })

    </script>
    
</body>
</html>